body {
    background-color:hsl(212, 45%, 89%);
    padding: 30;
}

.container{
    justify-items: center;
    background-color: white;
    border-radius: 16px;
    margin: 100px auto;
    width: 260px;
    padding: 10px;
}

.image {
    border-radius: 10px; 
    margin: 10px auto;
    text-align: center;
}

.image img {
    border-radius: 10px;
}

h1 {
    font-size: 14pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    text-align: center;
}

h2 {
    font-size: 10pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;
    padding: 10px;
    text-align: center;
}

.attribution {
    font-size: 11px; 
    text-align: center;
    color: gray
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}